[user]
	email = boppreh@gmail.com
	name = BoppreH
[core]
	excludesfile = /home/boppreh/.gitignore
[format]
	pretty = format:%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s
[log]
	date = relative
[push]
	default = simple
